@{
    ViewData["Title"] = "ТПА";
}
<h1>Cистема управління Технічною поясовою атестацією ВФ ВСБ</h1>
<hr/>
<h4>Дана система дозволяє:</h4>
<table>
    <tr>
        <td>- вести облік спортсменів по регіонам</td>
        <td>- вести облік атестацій по регіонам</td>
        <td>- переглядати історію атестацій спортсменів</td>
        <td>- добавляти документи до атестацій (наказ, рішення)</td>
    </tr>
</table>
<div style="text-align: center; width: 100%;">
    <img src="images/belts.jpg" style="width: 80%;" />
</div>

