@{
    ViewData["Title"] = "Home Page";
}
<h3>Cистема управління Технічною поясовою атестацією ВФ ВСБ</h3>
<h4>Дана система дозволяє:</h4>
<table>
    <tr>
        <td>- вести облік спортсменів по регіонам</td>
        <td>- вести облік атестацій по регіонам</td>
        <td>- переглядати історію атестацій спортсменів</td>
        <td>- добавляти документи до атестацій (наказ, рішення)</td>
    </tr>
</table>
