@model msac_tpa_new.Entities.AttestationUserBelt

<h4>AttestationUserBelt</h4>
<hr />
<div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <input name="1" />
    </div>

    <div>
        <input name="2" />

    </div>
    <p><input type="submit" value="Добавить" /></p>
}
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="_addSportmanBelt">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttestationId" class="control-label"></label>
                <select asp-for="AttestationId" class="form-control" asp-items="ViewBag.AttestationId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SportmanId" class="control-label"></label>
                <select asp-for="SportmanId" class="form-control" asp-items="ViewBag.SportmanId"></select>
            </div>
            <div class="form-group">
                <label asp-for="BeltId" class="control-label"></label>
                <select asp-for="BeltId" class="form-control" asp-items="ViewBag.BeltId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
